### Creating pandas df

In [1]:
import pandas as pd
import glob, os
from sqlalchemy import create_engine

for file in glob.glob("retail.csv"):
    df = pd.read_csv(file)

### Display first 5 rows

In [3]:
df.head()

,Global_Orders_ID,Order_ID,Category,City,Country,Customer_Name,Market,Customer_ID,Order_Date,Ship_Date,...,Region,Segment,Ship_Mode,State,Sub_Category,Discount,Profit,Quantity,Sales,Shipping_Cost
0,1,CA-2013-158568,Technology,Chicago,United States,Rick Bensley,USCA,RB-194654,2020-08-28,2020-09-01,...,Central,Home Office,Standard Class,Illinois,Accessories,0.2,-10.7973,3,95.976,10.01
1,2,CA-2013-158568,Office Supplies,Chicago,United States,Rick Bensley,USCA,RB-194654,2020-08-28,2020-09-01,...,Central,Home Office,Standard Class,Illinois,Binders,0.8,-3.0396,3,1.788,0.19
2,3,CA-2013-161207,Office Supplies,Concord,United States,Adam Bellavance,USCA,AB-100604,2020-08-28,2020-09-02,...,East,Home Office,Standard Class,New Hampshire,Supplies,0.0,8.0997,3,27.930,2.16
3,4,CA-2013-128727,Technology,New York City,United States,Meg O'Connel,USCA,MO-178004,2020-08-28,2020-09-03,...,East,Home Office,Standard Class,New York,Phones,0.0,5.5000,4,22.000,1.28
4,5,CA-2013-159912,Furniture,Philadelphia,United States,George Bell,USCA,GB-145304,2020-08-28,2020-09-02,...,East,Corporate,Standard Class,Pennsylvania,Tables,0.4,-56.4480,4,241.920,22.28

### Check for null values

In [4]:
df.isnull().sum()

Global_Orders_ID    0
Order_ID            0
Category            0
City                0
Country             0
Customer_Name       0
Market              0
Customer_ID         0
Order_Date          0
Ship_Date           0
Order_Priority      0
Product_ID          0
Product_Name        0
Region              0
Segment             0
Ship_Mode           0
State               0
Sub_Category        0
Discount            0
Profit              0
Quantity            0
Sales               0
Shipping_Cost       0
dtype: int64

### Check data types of columns in dataset

In [8]:
df.dtypes

Global_Orders_ID      int64
Order_ID             object
Category             object
City                 object
Country              object
Customer_Name        object
Market               object
Customer_ID          object
Order_Date           object
Ship_Date            object
Order_Priority       object
Product_ID           object
Product_Name         object
Region               object
Segment              object
Ship_Mode            object
State                object
Sub_Category         object
Discount            float64
Profit              float64
Quantity              int64
Sales               float64
Shipping_Cost       float64
dtype: object

### Convert date columns' data type

In [14]:
df['Order_Date'] = pd.to_datetime(df['Order_Date']).dt.date
df['Ship_Date'] = pd.to_datetime(df['Ship_Date']).dt.date

### Load the data to MySQL workbench database

In [16]:
# Create SQLAlchemy engine to connect to MySQL Database
engine = create_engine("mysql+mysqldb://root:{PASSWORD}@localhost:3306/retail_store")
    
# Convert dataframe to sql table                                   
df.to_sql(file[:-4], engine, index=False)
    
print('done')

done